@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Poppins:wght@100;300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

/* #3f09e3 blue color, #e90515 red, #e46872 fade red, #3b00e9 blue , #d2444b, */

:root {
  --fadeRed: #ff1322;
  --fadeBlue: #3f09e3;
  --red: #e90515;
  --blue: #3b00e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* -------------------------------Navbar for max-width : 1110px------------------------ */

/* .menu-btn {
  /* display: none; */
  /* z-index: 1111;
  position: absolute;
  top: 30px;
  left: calc(100% - 100px);
  height: 45px;
  width: 45px;
  background: #3f09e3;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.menu-btn span {
  color: #fff;
  font-size: 28px;
  line-height: 45px;
}

.menu-btn span:hover {
  transform: scale(1.1);
}

.menu-btn.click { */
  /* left: 64%;
}

.menu-btn.click span:before {
  content: "\f00d";
}

.side_menu.show {
  left: 70%;
  background: #ddd;
  transition: 0.5s ease-in-out;
}

.side_menu {
  z-index: 1111s;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  right: 100%;
  background: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.5s ease;
}

.side_menu .data {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  /* text-align: center; */
  /* background: #ddd;
  letter-spacing: 1px;
} */

/* .side_menu  ul {
  background: #ddd;
  height: 100%;
  width: 100%;
  list-style: none;
}

.side_menu  ul li {
  line-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
} */

/* .side_menu  ul li a,
.menulist-item {
  color: #111;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 600;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
  cursor: context-menu;
} */

/* .side_menu  ul li a:hover {
  color: #3f09e3;
  border-left-color: #3f09e3;
  text-decoration: none;
}

.menulist-item:hover {
  color: #3f09e3;
  border-left-color: #3f09e3;
  text-decoration: none;
}

.side_menu  ul ul {
  position: static;
  display: none;
}

.side_menu  ul .product_show.show {
  display: block;
}

.side_menu  ul .about_show.show {
  display: block;
}

.side_menu  ul ul li {
  line-height: 42px;
  border-bottom: none;
}

.side_menu  ul ul li a {
  font-size: 17px;
  color: #222;
  padding-left: 80px;
  border-left: 3px solid transparent;  */ 
  /* border-left-color: #3f09e3; */
/* } */

/* .side_menu  ul ul li a span {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 22px;
}

@media (max-width: 850px) {
  .side_menu {
    position: fixed;
    width: 50%;
    right: 100%;
    transition: 0.1s ease-in-out;
  }

  .menu-btn.click {
    left: 42%;
  }

  .side_menu.show {
    left: 50%;
  }
}

.dropme1 span {
  padding: 0 15%;
}

.dropme2 span {
  padding: 0 15%;
} */


/* .sticky-header-section.active {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
}

.stick {
  display: none;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1111;
} */


/* ------------------------ Css of navbar for windows width ------------------------- */

/* .myheader{
  top: 0;
  left: 0;
  z-index: 1111;
  display: block;
  position: sticky;
  background-color: transparent;
} */
/* .navbar { */
  /* height: 60px; */
  /* background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
} */

.biglogo{
  padding: 5px 0 0 50px;
  width: 150px;
  height: auto;
}

/* .navbar ul {
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 30px;
} */

/* .navbar ul li {
  background: transparent;
  position: relative;
  list-style: none;
  display: inline-block;
} */

/* .navbar ul li a {
  position: relative;
  display: block;
  padding: 0 15px;
  color: #fff;
  line-height: 60px;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
} */

/* .navbar .main-ul .main-li .main-a::after{
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  background-color: var(--fadeBlue);
  bottom: -1px;
  height: 3px;
  transition: all 0.4s linear;
  transition-delay: 0.5s;
} */

/* .navbar .main-ul .main-li .main-a:hover::after{
  width: 100%;
} */


/* .navbar .main-ul .main-li .main-a{
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}
.navbar .main-ul .main-li .main-a:hover{
  color: var(--fadeRed);
}

/* .navbar ul li a:hover {
  text-decoration: none;
  border-width: 50%;
  border-radius: 2px;
  transition: 5s;
} */




/* .navbar ul ul {
  position: absolute;
  top: 60px;
  display: none;
  /* border: 2px solid var(--fadeBlue); */
/* } */

/* .navbar ul li:hover>ul {
  display: block;
}

.navbar ul ul li {
  background: rgba(0, 0, 0, 0.8);
  width: 350px;
  float: none;
  position: relative;
  display: list-item;
  text-align: center;
  
}
  .navbar ul ul li:hover {
    background-color: #333;
  }

*/


.myheader.active {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
}




/* @media (max-width: 1110px){
  .stick{
    display: block;
  }
  .myheader{
      display: none;
  }
} */ 





/* --------------------------------------------------------------------Header Menu Navigation------------------------------------------------------- */

/* header {
    background-image: url(/data/about_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
    

} */

.logo img {
  width: 100px;
  margin: 10px;
}

/* ----------------------------------------------------------------------------










/* ------------------------------------ABOUT AND OUR LEADER PAGE----------------------------------------*/

.name {
  font-size: 2rem;
  color: #3b00e9;
  font-weight: 600;
}

.card .post {
  color: grey;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 15px;
}

/* -------------------------------- */

.about-data {
  padding: 5%;
  background-image: url(/data/d.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.acard {
  text-align: justify;
  margin: 18px auto;
}

.acard img {
  width: 100%;
  padding: 1px 0;
  border-radius: 3px;
}

.acard div {
  padding: 0 20px 10%;
  border-radius: 1px;
  background: #ddd;
}

.acard div h3 {
  color: #3b00e9;
  font-size: 2rem;
  padding: 15px 0;
}

/* Product */

.products .card {
  margin: 15px auto 10% auto;
  padding: 10px;
  border: 2px solid #fff;
  transition: 1s;
  text-align: center;
}

.products .card img:hover {
  border: 2px solid rgb(128, 128, 128, 0.3);
  transform: scale(1.02);
}

.card-footer-bg {
  transition: all 0.5s ease;
}

.card-footer-bg:hover {
  cursor: pointer;
  background-color: var(--fadeBlue);
}

/* ------------------------------- */

.image-header img {
  width: 100%;
}

/* ---------------------------------------------  */

.services {
  text-align: justify;
  padding: 5%;
}

.service-container {
  width: 90%;
  margin: auto;
}

.service-container h1 {
  padding: 10px 0 10px 10px;
  background: #3b00e9;
  color: #fff;
}

.service-container p {
  border: 5px solid #fff;
  border-top: 0;
  transition: 1s;
  padding: 14px;
}

.service-container span {
  float: right;
  padding: 0 20px;
}

.service-container:hover p {
  border: 5px solid #3b00e9;
  border-top: 0;
}

/* ----------------------------------------------------------------------------
























/* ------------------------------------------FOOTER START----------------------------------


/* -----------------------------Footer----------------------------------------------- */

footer form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 12px;
}

.query-form {
  text-align: center;
  background: #e90515;
  padding: 30px;
  text-align: center;
}

.query-form p {
  font-size: 26px;
  color: #fff;
  font-weight: 500;
}

footer form input {
  width: 100%;
  margin: 10px;
  padding: 4px;
  border: 2px solid white;
  border-radius: 3px;
}

footer form input[type="submit"] {
  background-color: #d2444b;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.footer {
  /* margin-top: 5%; */
  padding-top: 1px;
  background-color: rgba(0, 0, 0, 0.9);
}

.footer .box-container {
  margin: 5% auto 5% auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 12px;
  width: 100%;
  /* margin: auto; */
}

.footer .box-container .box {
  width: 75%;
  margin: auto;
}

.footer .box h3 {
  color: #fff;
  text-align: left;
  font-size: 22px;
  padding: 8px 0;
  /* text-align: center; */
}

.footer .box a {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  display: block;
  padding: 8px;
  color: #000;
  text-transform: capitalize;
}

.footer .box a:hover {
  color: #3f09e3;
}

.footer .box a i {
  padding-right: 4px;
  color: #ddd;
}

.footer .box-container .box a:hover i {
  /* padding-right: 15px; */
  font-size: 18px;
}

.footer .box span {
  font-size: 15px;
  letter-spacing: 2px;
  font-style: normal;
  color: #ddd;
  font-family: "Poppins";
  font-weight: normal;
}

.footer .copyright {
  text-align: center;
  border-top: 4px solid #ddd;
  padding: 24px;
  margin-top: 18px;
  font-size: 16px;
  color: #000;
}

.footer .copyright span {
  color: #ddd;
}

/* ------------------------------------------------------------------------------------------------------- */
